body {
    color: #020202;
    padding-top: 0;
    padding-bottom: 40px;
}
.title {
    margin: auto;
}




.screen {
    margin: auto;
    width: 80%;
    border-style: solid;
    border-color: #020202;
}
#cart {
    display: flex;
    height: 500px;
}
#cartpic {
    max-width: 100%;
}






.enter-phone-number {
    width: 33%;
    height: 500px;
    margin: auto;
    border-style: solid;
    border-color: #020202;
    display: flex;
    flex-direction: column;
}
.phone-number-input {
    width: 70%;
    height: 50px;
}
.remember {
    display: flex;
}
.checkbox {
    margin-right: .5rem;
}
.continue-button {
    background-color: #020202;
    color: white; 
}






#add-payment-title {
    margin-left: 20rem;
}
.member-payment {
    width: 50%;
    height: 600px;
    margin: auto;
    border-style: solid;
    border-color: #020202;
    display: flex;
    flex-direction: column;
}
.user {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    border-style: solid;
    border-color: rgb(175, 175, 175);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-top: 1rem;
}
.user-nameemail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgcontainer {
    width: 50px;
    height: 50px;
    margin-top: 11px;
    margin-right: 10px;
}
#johndoepic {
    max-width: 100%;
    max-height: 100%;
}
.email {
    color: rgb(175, 175, 175);
}
.members-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.card {
    border: none;
}
.splitcard {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.pay {
    background-color: rgb(57, 156, 0);
    color: white;
}
.addcardbutt {
    background-color: #020202;
    color: white;
}






.inputnewcard {
    border-style: solid;
    border-color: black;
    width: 25%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
}
.textandform {
    display: flex;
    justify-content: space-between;
}
.newcardform {
    width: auto;
}


.guestnumbers {
    border-style: solid;
    border-color: black;
    width: 30%;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}