body {
    color: #020202;
    padding-top: 0;
    padding-bottom: 40px;
}
.title {
    margin: auto;
}


.screen {
    margin: auto;
    width: 80%;
    border-style: solid;
    border-color: #020202;
}


#cart {
    display: flex;
    height: 500px;
}
#cartpic {
    max-width: 100%;
}


.enter-phone-number {
    width: 33%;
    height: 500px;
    margin: auto;
    border-style: solid;
    border-color: #020202;
    display: flex;
    flex-direction: column;
}
.phone-number-input {
    width: 70%;
    height: 50px;
}
.remember {
    display: flex;
}
.checkbox {
    margin-right: .5rem;
}
.continue-button {
    background-color: #020202;
    color: white; 
}